
/* General page fit */

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    }

/* Main */

.center {
    margin: auto;
}

.google {
    margin-top: 200px;
    margin-bottom: 20px;
}

input {
    height: 40px;
    width: 500px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
}

form {
    margin: auto;
}