.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 50%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
}

.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 50%;
}

.input-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .center-buttons {

} */

.search-button {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 120px;
}  

.second {
    display: inline;
    margin-left: 200px;
    margin-right: auto;
}