
/* General page fit */

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    }

/* Main */

.center {
    margin: auto;
}

.google {
    margin-top: 200px;
    margin-bottom: 20px;
}

input {
    height: 40px;
    width: 500px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
}

form {
    margin: auto;
}

.micbutton {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    transform: translate(900%, -220%);
    border: none;
    background: transparent;
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.magbutton {
    width: 20px;
    height: 20px;
    display: block;
    margin: right;
    transform: translate(100%, -380%);
    border: none;
    background: transparent;
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    /* List items */
}

li {
    display: inline;
}






